img {
    width: 100%;
    height: 99px;
}
table {

    width:100%;
}
td {
    text-align: center;
    padding: 15px;
    background-color: aquamarine;
}
th {
    background-color: brown;
}
iframe {
    width: 100%;
    height: 200px;
}